In [1]:
%config InlineBackend.figure_format ='retina'
%matplotlib inline

import networkx as nx
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Set options
sns.set_style('darkgrid')
pd.set_option("display.max_rows", 10)

def read_excel(filespec):
    # read file into pandas DataFrame
    answer = pd.read_excel(filespec)
    
    # set column names to lower case for easier typing
    answer.columns = [colname.lower() for colname in list(answer.columns.values)]
    
    # return answer
    return(answer)

In [2]:
institutions = read_excel("data/HD2016.xlsx")
institutions

,unitid,instnm,ialias,addr,city,stabbr,zip,fips,obereg,chfnm,...,cbsatype,csa,necta,countycd,countynm,cngdstcd,longitud,latitude,dfrcgid,dfrcuscg
0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,"Dr. Andrew Hugine, Jr.",...,1,290,-2,1089,Madison County,105,-86.568502,34.783368,128,1
1,100663,University of Alabama at Birmingham,NaN,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,115,1
2,100690,Amridge University,Southern Christian University |Regions University,1200 Taylor Rd,Montgomery,AL,36117-3553,1,5,Michael Turner,...,1,-2,-2,1101,Montgomery County,102,-86.174010,32.362609,236,2
3,100706,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,118,2
4,100724,Alabama State University,NaN,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,Leon Wilson,...,1,-2,-2,1101,Montgomery County,107,-86.295677,32.364317,136,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7516,489973,Relay Graduate School of Education - Camden,NaN,800 Erie Street,Camden,NJ,08102-1741,34,2,NaN,...,1,428,-2,42101,Philadelphia County,4201,-75.135038,39.973897,-2,-2
7517,489982,Relay Graduate School of Education - Denver,NaN,4130 Navajo Street,Denver,CO,80211-2534,8,7,NaN,...,1,216,-2,8031,Denver County,801,-105.003931,39.773640,-2,-2
7518,489991,Relay Graduate School of Education - Nashville,NaN,123 Douglas Avenue,Nashville,TN,37207-5155,47,5,NaN,...,1,400,-2,47037,Davidson County,4705,-86.769241,36.194720,-2,-2
7519,490009,Spartan College of Aeronautics and Technology,NaN,1865 W. 121st Avenue,Westminster,CO,80234-3610,8,7,Nicholas Brown,...,1,216,-2,8001,Adams County,807,-105.009212,39.917028,243,2
7520,490018,National Personal Training Institute-Tampa,NaN,8411 Sunstate Street,Tampa,FL,33634,12,5,Patrick Sherman,...,1,-2,-2,12057,Hillsborough County,1214,-82.528321,28.026750,74,2

In [3]:
peer_lists = read_excel("data/CUSTOMCGIDS2016.xlsx")
peer_lists

,unitid,cgunitid,cginstnm,cgcity,cgstabbr
0,100654,100706,University of Alabama in Huntsville,Huntsville,AL
1,100654,100724,Alabama State University,Montgomery,AL
2,100654,100830,Auburn University at Montgomery,Montgomery,AL
3,100654,101480,Jacksonville State University,Jacksonville,AL
4,100654,101879,University of North Alabama,Florence,AL
...,...,...,...,...,...
43594,488679,465812,Independence University,Salt Lake City,UT
43595,488679,479956,Pennsylvania State University-World Campus,University Park,PA
43596,488679,480569,Florida Institute of Technology-Online,Melbourne,FL
43597,488679,484631,University of Phoenix-California,Costa Mesa,CA
43598,488679,489779,Kaplan University-Indianapolis,Indianapolis,IN